<p class="initial-message"><%= I18n.t(:initial_message) %></p>

<section class="content">
  <p><%= I18n.t(:about_me) %></p>

  <h2 class="home-page-menu-header"><%= I18n.t(:more_about_me) %></h2>
  <nav class="home-page-menu">
    <ul>
      <li><a href=""><%= I18n.t(:portfolio) %></a></li>
      <li><a href=""><%= I18n.t(:articles) %></a></li>
      <li><a href=""><%= I18n.t(:curriculum) %></a></li>
      <li><a href=""><%= I18n.t(:some_more_stuff) %></a></li>
      <li><a href=""><%= I18n.t(:contact) %></a></li>
    </ul>
  </nav>
</section>
